body{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;

    background: linear-gradient(to top ,#6189E6 , #CFD5E3);
    color: white !important;
}

.headerWrapper{
    display: grid;
    grid-template-areas: 
    "headerLogoWrapper headerNavBarWrapper headerSearchWrapper headerAccountWrapper headerExit-button";
    background-color:#bbbce3;
    text-align: center;
    align-self: center;
    justify-self: center;
    padding-top: 10px;
    border-radius: 10px;
}


.headerLogoWrapper{
    grid-area: headerLogoWrapper;
    
}

.headerNavBarWrapper{
    grid-area: headerNavBarWrapper;
    display: grid;
    grid-template-areas: "headerNavBar-mainLink headerNavBar-paymentLink headerNavBar-historyLink";
    grid-gap: 10px;
    margin-bottom: 10px;
    padding-right: 200px;
}
    .headerNavBar-mainLink{
        grid-area: headerNavBar-mainLink;
        border: 2px solid transparent;
        border-radius: 20px;
        background-color: rgb(111, 112, 51);
        text-align: center;
        align-self: center;

    }
    .headerNavBar-mainLink a{ text-decoration: none; color: white !important}
        .headerNavBar-mainLink:hover{
            border: 2px solid red;
        }
    .headerNavBar-paymentLink{
        grid-area: headerNavBar-paymentLink;
        border: 2px solid transparent;
        border-radius: 20px;
        background-color: rgb(111, 112, 51);
        text-align: center;
        align-self: center;
    }
    .headerNavBar-paymentLink a{ text-decoration: none; color: white !important}
        .headerNavBar-paymentLink:hover{
            border: 2px solid red;
        }
    .headerNavBar-historyLink{
        grid-area: headerNavBar-historyLink;
        border: 2px solid transparent;
        border-radius: 20px;
        background-color: rgb(111, 112, 51);
        text-align: center;
        margin-right: 10px;
        align-self: center;
    }
    .headerNavBar-historyLink a{ text-decoration: none; color: white !important}
        .headerNavBar-historyLink:hover{
            border: 2px solid red;
        }

.headerSearchWrapper{
    grid-area: headerSearchWrapper;
    display: grid;
    grid-template-areas: "headerSearch-inputArea headerSearch-Img";
    grid-template-columns: 190px 30px;
    grid-template-rows: 15px;
    grid-gap: 10px;
}
    .headerSearch-inputArea{
        grid-area: headerSearch-inputArea;
        align-self: left;
        padding-top: 3px;
    }
        .headerSearchInputArea-input{
            border-radius: 42px;
            height: 30px;
            width: 200px;
            border: 2px solid #7788B770;
            background: #8497cd;;
            outline: none;
            position: relative;
            transition: .3s linear;
        }
            .headerSearchInputArea-input::-webkit-input-placeholder{color: #FFFFFF80;}
    .headerSearch-Img{
        width: 19px;
        height: 42px;
        background: none;
        border: none;
        position: absolute;
        align-items: center;
        margin: 0px 0px 0px 250px;
    }
    .headerSearchImg-button{
        background: url("../Materials/images/Search.png") no-repeat center;
        height: 33px;
        width: 33px;
        border: 0px;
    }
        .headerSearchImg-button:hover{
            box-shadow: 0 0 12px #6633FF;
        }
        .contentSearch-Img:before {
            content: "\f002";
            font-family: FontAwesome;
            color: #324b4e;
        }
    


.headerAccountWrapper{
    grid-area: headerAccountWrapper;
    display: grid;
    grid-template-areas: "headerAccountWrapper-Img headerAccountWrapper-Name";
    grid-template-columns: 30px 100px;
    align-self: top;
    padding-left: 80px;
}
    .headerAccountWrapper-Img{
        grid-area: headerAccountWrapper-Img;
        align-self: top;
    }
    .headerAccountWrapper-Name{
        grid-area: headerAccountWrapper-Name;
        padding-top: 5px;
    }

.headerExitWrapper{
    margin-bottom: 10px;
}
.headerExit-button{
    grid-area: headerExit-button;
    background:url("../Materials/images/ExitButton.png") no-repeat center;
    border: 0px;
    height: 33px;
    width: 33px;
}
    .headerExit-button:hover{
        box-shadow: 0 0 12px #6633FF;
    }