.contentWrapper{
    display: grid;
    grid-template-areas: 
    "financeWrapper contentPaymentsWrapper"
    "financeWrapper contentServicesWrapper";
    grid-template-columns: 300px auto;
}

.financeWrapper{
    display: grid;
    grid-template-areas: 
    "financeHeader"
    "financeWalletWrapper"
    "financeContributionWrapper"
    "financeMetallBillsWrapper"
    "financeCreditWrapper"
    "financeGoalsWrapper"
    "financeInsuranceWrapper"
    "financePensionsWrapper"
    "financeInvestmentsWrapper"
    "financeDepotWrapper";
    grid-area: financeWrapper;
    max-width: 300px;
    background-color:darkgray;
    padding-left: 10px;
    padding-right: 10px;;
}
.financeHeader{
    display: grid;
    grid-template-areas: 
    "financeHeader-h"
    "financeHeader-p";
    grid-area: financeHeader;
}
    .financeHeader-h{
        grid-area: financeHeader-h;
    }
    .financeHeader-p{
        grid-area: financeHeader-p;
    }

.financeWalletWrapper{
    display:grid;
    grid-template-areas: 
    "financeWallet-h financeWallet-rollUpImg financeWallet-addImg"
    "financeWalletBalanceWrapper financeWalletBalanceWrapper financeWalletBalanceWrapper";
    grid-area: financeWalletWrapper;
    
}
    .financeWallet-h{
        grid-area: financeWallet-h;
    }
    .financeWallet-rollUpImg{
        grid-area: financeWallet-rollUpImg;
        text-align: center;
        align-self: center;
        justify-self: left;;
        padding-top: 20px;
    }
    .financeWallet-addImg{
        grid-area: financeWallet-addImg;
        text-align: center;
        align-self: center;
        justify-self: right;
        padding-top: 20px;
    }
    .financeWalletBalanceWrapper{
        display: grid;
        grid-template-areas: 
        "financeWalletCards-logoMasterCard financeWalletBalance-amountMasterCard"
        "financeWalletCards-logoMasterCard financeWalletBalance-cardNameMasterCard"
        "financeWalletCards-logoVisa financeWalletBalance-amountVisa"
        "financeWalletCards-logoVisa financeWalletBalance-cardNameVisa";
        grid-template-rows: 20px 30px 30px 30px;
        grid-area: financeWalletBalanceWrapper;
    }
        .financeWalletCards-logoMasterCard{
            grid-area: financeWalletCards-logoMasterCard;
            text-align: center;
            align-self: center;
            justify-self: center;
            padding-top: 30px;
        }
        .financeWalletCards-logoVisa{
            grid-area: financeWalletCards-logoVisa;
            text-align: center;
            align-self: center;
            justify-self: center;
            padding-top: 30px;
        }
        .financeWalletBalance-amountMasterCard{
            grid-area: financeWalletBalance-amountMasterCard;
        }
        .financeWalletBalance-amountVisa{
            grid-area: financeWalletBalance-amountVisa;
        }
        .financeWalletBalance-cardNameMasterCard{
            grid-area: financeWalletBalance-cardNameMasterCard;
        }
        .financeWalletBalance-cardNameVisa{
            grid-area: financeWalletBalance-cardNameVisa;
        }

.financeContributionWrapper{
    display: grid;
    grid-template-areas: 
    "financeContribution-h financeContribution-rollUpImg financeContribution-addImg"
    "financeContribution-icon financeWalletAbout-h financeWalletAbout-h"
    "financeContribution-icon financeContribution-about financeContribution-about";
    grid-template-rows: 40px 20px 50px;
    grid-area: financeContributionWrapper;
    
}
    .financeContribution-h{
        grid-area: financeContribution-h;
        width: 150px;
    }
    .financeContribution-icon{
        grid-area: financeContribution-icon;
        text-align: center;
        align-self: center;
        justify-self: center;;
        padding-top: 30px;
        padding-right: 45px;
    }
    .financeWalletAbout-h{
        grid-area: financeWalletAbout-h;
    }
    .financeContribution-rollUpImg{
        grid-area: financeContribution-rollUpImg;
        text-align: center;
        align-self: center;
        justify-self: left;;
        padding-top: 25px;
    }
    .financeContribution-addImg{
        grid-area: financeContribution-addImg;
        text-align: center;
        align-self: center;
        justify-self: right;
        padding-top: 25px;
    }
    .financeContribution-about{
        grid-area: financeContribution-about;
    }

.financeMetallBillsWrapper{
    display: grid;
    grid-template-areas:
    "financeMetallBills-h financeMetallBills-rollUpImg financeMetallBills-addImg"
    "financeMetallBills-icon financeMetallBillsAbout-h financeMetallBillsAbout-h"
    "financeMetallBills-icon financeMetallBills-about financeMetallBills-about";
    grid-template-rows: 40px 40px 50px;
    grid-area: financeMetallBillsWrapper;
}
    .financeMetallBills-h{
        grid-area: financeMetallBills-h;
        
    }
    .financeMetallBillsAbout-h{
        grid-area: financeMetallBillsAbout-h;
        width: 150px;
    }
    .financeMetallBills-icon{
        grid-area: financeMetallBills-icon;
        text-align: center;
        align-self: center;
        justify-self: center;;
        padding-top: 30px;
        padding-right: 28px;
    }
    .financeMetallBills-h{
        grid-area: financeMetallBills-h;
    }
    .financeMetallBills-rollUpImg{
        grid-area: financeMetallBills-rollUpImg;
        text-align: center;
        align-self: center;
        justify-self: left;;
        padding-top: 25px;
    }
    .financeMetalBills-addImg{
        grid-area: financeMetallBills-addImg;
        text-align: center;
        align-self: center;
        justify-self: right;
        padding-top: 25px;
    }
    .financeMetallBills-about{
        grid-area: financeMetallBills-about;
    }

.financeCreditWrapper{
    display: grid;
    grid-template-areas: "financeMetallBills-h financeCredit-rollUpImg financeCredit-addImg";
    grid-area: financeCreditWrapper;
}
    .financeMetallBills-h{
        grid-area: financeMetallBills-h;
    
    }
    .financeCredit-rollUpImg{
        grid-area: financeCredit-rollUpImg;
        text-align: center;
        align-self: center;
        justify-self: left;;
        padding-top: 10px;
    }
    .financeCredit-addImg{
        grid-area: financeCredit-addImg;
        text-align: center;
        align-self: center;
        justify-self: right;
        padding-top: 10px;
    }

.financeGoalsWrapper{
    display: grid;
    grid-template-areas:
    "financeGoals-h financeGoals-rollUpImg financeGoals-addImg"
    "financeGoalsAboutWrapper financeGoalsAboutWrapper financeGoalsAboutWrapper"
    "financeGoalsAboutWrapper financeGoalsAboutWrapper financeGoalsAboutWrapper";
    grid-template-rows: 40px 10px 50px;
    grid-area: financeGoalsWrapper;
}
    .financeGoals-h{
        grid-area: financeGoals-h;
    }
    .financeGoals-rollUpImg{
        grid-area: financeGoals-rollUpImg;
        text-align: center;
        align-self: center;
        justify-self: left;;
        padding-top: 25px;
    }
    .financeGoals-addImg{
        grid-area: financeGoals-addImg;
        text-align: center;
        align-self: center;
        justify-self: right;
        padding-top: 25px;
    }
    .financeGoalsAboutWrapper{
        grid-area: financeGoalsAboutWrapper;
        display: grid;
        grid-template-areas: 
        "financeGoalsAbout-logo financeGoalsAbout-h"
        "financeGoalsAbout-logo financeGoalsAbout-about";
        grid-template-rows: 20px 40px;
        padding-left: 40px;
    }
        .financeGoalsAbout-logo{
            grid-area: financeGoalsAbout-logo;
            text-align: center;
            align-self: center;
            justify-self: center;;
            padding-top: 30px;
            padding-right: 28px;
        }
        .financeGoalsAbout-h{
            grid-area: financeGoalsAbout-h;
        }
        .financeGoalsAbout-about{
            grid-area: financeGoalsAbout-about;
        }

.financeInsuranceWrapper{
    display: grid;
    grid-template-areas: "financeInsurance-h financeInsurance-rollUpImg financeInsurance-addImg";
    grid-area: financeInsuranceWrapper;
}

    .financeInsurance-h{
        grid-area: financeInsurance-h;
    }
    .financeInsurance-rollUpImg{
        grid-area: financeInsurance-rollUpImg;
        text-align: center;
        align-self: center;
        justify-self: left;;
        padding-top: 10px;
    }
    .financeInsurance-addImg{
        grid-area: financeInsurance-addImg;
        text-align: center;
        align-self: center;
        justify-self: right;
        padding-top: 10px;
    }

.financePensionsWrapper{
    display: grid;
    grid-template-areas: "financePensions-h financePensions-rollUpImg financePensions-addImg";
    grid-area: financePensionsWrapper;
}

    .financePensions-h{
        grid-area: financePensions-h;
    }
    .financePensions-rollUpImg{
        grid-area: financePensions-rollUpImg;
        text-align: center;
        align-self: center;
        justify-self: left;;
        padding-top: 10px;
    }
    .financePensions-addImg{
        grid-area: financePensions-addImg;
        text-align: center;
        align-self: center;
        justify-self: right;
        padding-top: 10px;
    }

.financeInvestmentsWrapper{
    display: grid;
    grid-template-areas: "financeInvestments-h financeInvestments-rollUpImg financeInvestments-addImg";
    grid-area: financeInvestmentsWrapper;
}

    .financeInvestments-h{
        grid-area: financeInvestments-h;
    }
    .financeInvestments-rollUpImg{
        grid-area: financeInvestments-rollUpImg;
        text-align: center;
        align-self: center;
        justify-self: left;;
        padding-top: 10px;
    }
    .financeInvestments-addImg{
        grid-area: financeInvestments-addImg;
        text-align: center;
        align-self: center;
        justify-self: right;
        padding-top: 10px;
    }

.financeDepotWrapper{
    display: grid;
    grid-template-areas: 
    "financeDepot-h financeDepot-rollUpImg financeDepot-addImg"
    "financeDepot-icon financeDepotAbout-h financeDepotAbout-h";
    grid-area: financeDepotWrapper;
}
    .financeDepot-h{
        grid-area: financeDepot-h;
    }
    .financeDepot-rollUpImg{
        grid-area: financeDepot-rollUpImg;
        text-align: center;
        align-self: center;
        justify-self: left;;
        padding-top: 10px;
    }
    .financeDepot-addImg{
        grid-area: financeDepot-addImg;
        text-align: center;
        align-self: center;
        justify-self: right;
        padding-top: 10px;
    }
    .financeDepot-icon{
        grid-area: financeDepot-icon;
        text-align: center;
        align-self: center;
        justify-self: center;
        padding-right: 28px;
        padding-left: 40px;
    }
    .financeDepotAbout-h{
        grid-area: financeDepotAbout-h;
    }

.contentPaymentsWrapper{
    grid-area: contentPaymentsWrapper;
    display: grid;
    grid-template-areas: 
    "contentPaymentsQiwiWrapper contentPaymentsIconWrapper contentServicesWrapper"
    "contentTranslationWrapper contentTranslationWrapper contentTranslationWrapper";
    grid-template-columns: 150px 150px 400px;
    grid-template-rows: 100px 350px;
    padding-top: 50px;
    padding-left: 50px;
    background-color:gray;
}
    .contentPaymentsQiwiWrapper{
        grid-area: contentPaymentsQiwiWrapper;
    }
    .contentPaymentsIconWrapper{
        grid-area: contentPaymentsIconWrapper;
    }
    .contentServicesWrapper{
        grid-area: contentServicesWrapper;
    }

.contentTranslationWrapper{
    display: grid;
    grid-area: contentTranslationWrapper;
    grid-template-areas: 
    "contentTranslation-h contentTranslation-h"
    "contentTranslationClientWrapper contentTranslationYourNumberWrapper"
    "contentTranslationOtherPeopleWrapper contentTranslationOtherCountyWrapper";
    grid-template-rows: 100px 70px 50px;
    padding-top: 70px;
}
    .contentTranslation-h{
        grid-area: contentTranslation-h;
    }
        .contentTranslationClientWrapper{
            display: grid;
            grid-template-areas: 
            "contentTranslationClient-icon contentTranslationClient-h"
            "contentTranslationClient-icon contentTranslationClient-p";
            grid-template-rows: 20px 20px;
            grid-template-columns: 50px 200px;
            grid-area: contentTranslationClientWrapper;
        }
            .contentTranslationClient-icon{
                grid-area: contentTranslationClient-icon;
                padding-top: 22px;
                
            }
            .contentTranslationClient-h{
                grid-area: contentTranslationClient-h;
            }
            .contentTranslationClient-p{
                grid-area: contentTranslationClient-p;
            }

        .contentTranslationYourNumberWrapper{
            display: grid;
            grid-template-areas: 
            "contentTranslationYourNumber-icon contentTranslationYourNumber-h"
            "contentTranslationYourNumber-icon contentTranslationYourNumber-p";
            grid-template-rows: 20px 20px;
            grid-template-columns: 50px 200px;
            grid-area: contentTranslationYourNumberWrapper;
        }
            .contentTranslationYourNumber-icon{
                grid-area: contentTranslationYourNumber-icon;
                padding-top: 22px;
            }
            .contentTranslationYourNumber-h{
                grid-area: contentTranslationYourNumber-h;
            }
            .contentTranslationYourNumber-p{
                grid-area: contentTranslationYourNumber-p;
            }

        .contentTranslationOtherPeopleWrapper{
            display: grid;
            grid-template-areas: 
            "contentTranslationOtherPeople-icon contentTranslationOtherPeople-h"
            "contentTranslationOtherPeople-icon contentTranslationOtherPeople-p";
            grid-template-rows: 20px 20px;
            grid-template-columns: 50px 200px;
            grid-area: contentTranslationOtherPeopleWrapper;
        }
            .contentTranslationOtherPeople-icon{
                grid-area: contentTranslationOtherPeople-icon;
                padding-top: 22px;
            }
            .contentTranslationOtherPeople-h{
                grid-area: contentTranslationOtherPeople-h;
            }
            .contentTranslationOtherPeople-p{
                grid-area: contentTranslationOtherPeople-p;
            }

        .contentTranslationOtherCountyWrapper{
            display: grid;
            grid-template-areas: 
            "contentTranslationOtherCounty-icon contentTranslationOtherCounty-h"
            "contentTranslationOtherCounty-icon contentTranslationOtherCounty-p";
            grid-template-rows: 20px 20px;
            grid-template-columns: 50px 200px;
            grid-area: contentTranslationOtherCountyWrapper;
        }
            .contentTranslationOtherCounty-icon{
                grid-area: contentTranslationOtherCounty-icon;
                padding-top: 22px;
            }
            .contentTranslationOtherCounty-h{
                grid-area: contentTranslationOtherCounty-h;
            }
            .contentTranslationOtherCounty-p{
                grid-area: contentTranslationOtherCounty-p;
            }

.contentServicesWrapper{
    display: grid;
    grid-template-areas: 
    "contentServices-h"
    "contentServicesSearchWrapper"
    "contentServicesIconsWrapper";
    grid-area: contentServicesWrapper;
    padding-left: 50px;
    background-color:gray;
}
    .contentServices-h{
        grid-area: contentServices-h;
    }
    .contentServicesSearchWrapper{
        grid-area: contentServicesSearchWrapper;
        max-width: 740px;
    }
        .contentServicesSearch-input{
            border: 2px solid blue;
            border-radius: 20px;
            width: 500px;
            height: 50px;
        }
    .contentServicesIconsWrapper{
        display: grid;
        grid-template-areas: 
        "contentServicesIconsMobileWrapper contentServicesIconsHomeWrapper contentServicesIconsStateWrapper"
        "contentServicesIconsWorkWrapper contentServicesIconsTransportWrapper contentServicesIconsEducationWrapper"
        "contentServicesIconsHealthWrapper contentServicesIconsRequsitesWrapper contentServicesIconsCreditWrapper"
        "contentServicesIconsCharityWrapper contentServicesIconsFunWrapper contentServicesIconsFunWrapper";
        grid-area: contentServicesIconsWrapper;
    }
        .contentServicesIconsMobileWrapper{
            display: grid;
            grid-area: contentServicesIconsMobileWrapper;
            grid-template-areas: 
            "contentServicesIconsMobile-icon contentServicesIconsMobile-h"
            ;
        }
            .contentServicesIconsMobile-icon{
                grid-area: contentServicesIconsMobile-icon;
                align-self: center;
            }
            .contentServicesIconsMobile-h{
                grid-area: contentServicesIconsMobile-h;
                
            }
        .contentServicesIconsHomeWrapper{
            display: grid;
            grid-area: contentServicesIconsHomeWrapper;
            grid-template-areas: "contentServicesIconsHome-icon contentServicesIconsHome-h";
        }
            .contentServicesIconsHome-icon{
                grid-area: contentServicesIconsHome-icon;
                align-self: center;
            }
            .contentServicesIconsHome-h{
                grid-area: contentServicesIconsHome-h;
            }
        .contentServicesIconsStateWrapper{
            display: grid;
            grid-template-areas: "contentServicesIconsState-icon contentServicesIconsState-h";
            grid-area: contentServicesIconsStateWrapper;
        }
            .contentServicesIconsState-icon{
                grid-area: contentServicesIconsState-icon;
                align-items: center;
            }
            .contentServicesIconsState-h{
                grid-area: contentServicesIconsState-h;
            }
        .contentServicesIconsWorkWrapper{
            display: grid;
            grid-template-areas: "contentServicesIconsWork-icon contentServicesIconsWork-h";
            grid-area: contentServicesIconsWorkWrapper;
        }
            .contentServicesIconsWork-icon{
                grid-area: contentServicesIconsWork-icon;
                align-items: center;
            }
            .contentServicesIconsWork-h{
                grid-area: contentServicesIconsWork-h;
            }
        .contentServicesIconsTransportWrapper{
            display: grid;
            grid-template-areas: 
            "contentServicesIconsTransport-icon contentServicesIconsTransport-h";
            grid-area: contentServicesIconsTransportWrapper;
        }
            .contentServicesIconsTransport-icon{
                grid-area: contentServicesIconsTransport-icon;
                align-self: center;
            }
            .contentServicesIconsTransport-h{
                grid-area: contentServicesIconsTransport-h;
            }
        .contentServicesIconsEducationWrapper{
            display: grid;
            grid-template-areas: "contentServicesIconsEducation-icon contentServicesIconsEducation-h";
            grid-area: contentServicesIconsEducationWrapper;
        }
            .contentServicesIconsEducation-icon{
                grid-area: contentServicesIconsEducation-icon;
                align-self: center;
            }
            .contentServicesIconsEducation-h{
                grid-area: contentServicesIconsEducation-h;
            }
        .contentServicesIconsHealthWrapper{
            display: grid;
            grid-template-areas: "contentServicesIconsHealth-icon contentServicesIconsHealth-h";
            grid-area: contentServicesIconsHealthWrapper;
        }
            .contentServicesIconsHealth-icon{
                grid-area: contentServicesIconsHealth-icon;
                align-self: center;
            }
            .contentServicesIconsHealth-h{
                grid-area: contentServicesIconsHealth-h;
            }
        .contentServicesIconsRequsitesWrapper{
            display: grid;
            grid-template-areas: "contentServicesIconsRequsites-icon contentServicesIconsRequsites-h";
            grid-area: contentServicesIconsRequsitesWrapper;
        }
            .contentServicesIconsRequsites-icon{
                grid-area: contentServicesIconsRequsites-icon;
                align-self: center;
            }
            .contentServicesIconsRequsites-h{
                grid-area: contentServicesIconsRequsites-h;
            }
        .contentServicesIconsCreditWrapper{
            display: grid;
            grid-template-areas: "contentServicesIconsCredit-icon contentServicesIconsCredit-h";
            grid-area: contentServicesIconsCreditWrapper;
        }
            .contentServicesIconsCredit-icon{
                grid-area: contentServicesIconsCredit-icon;
                align-self: center;
            }
            .contentServicesIconsCredit-h{
                grid-area: contentServicesIconsCredit-h;
                
            }
        .contentServicesIconsCharityWrapper{
            display: grid;
            grid-template-areas: "contentServicesIconsCharity-icon contentServicesIconsCharity-h";
            grid-area: contentServicesIconsCharityWrapper;
        }
            .contentServicesIconsCharity-icon{
                grid-area: contentServicesIconsCharity-icon;
                align-self: center;
            }
            .contentServicesIconsCharity-h{
                grid-area: contentServicesIconsCharity-h;
            }
        .contentServicesIconsFunWrapper{
            display: grid;
            grid-template-areas: "contentServicesIconsFun-icon contentServicesIconsFun-h";
            grid-area: contentServicesIconsFunWrapper;
            max-width:fit-content;
        }
            .contentServicesIconsFun-icon{
                grid-area: contentServicesIconsFun-icon;
                align-self: center;
            }
            .contentServicesIconsFun-h{
                grid-area: contentServicesIconsFun-h;
                padding-left: 115px;
            }
