body{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;

    background-color: rgb(43, 43, 43);
    color: white !important;
}

.headerSearchImg-button{
    background: url("../Materials/images/Search.png") no-repeat top right;
    height: 33px;
    width: 33px;
    
}

.headerWrapper{
    display: grid;
    grid-template-areas: "headerLogoWrapper headerNavBarWrapper headerSearchWrapper headerAccountWrapper";
    
    background-color:darkcyan;
    text-align: center;
    align-self: center;
    justify-self: center;
    padding-top: 20px;
}


.headerLogoWrapper{
    grid-area: headerLogoWrapper;
    
}

.headerNavBarWrapper{
    grid-area: headerNavBarWrapper;
    display: grid;
    grid-template-areas: "headerNavBar-mainLink headerNavBar-paymentLink headerNavBar-historyLink";
    grid-gap: 10px;
    margin-bottom: 10px;
    padding-right: 200px;
}
.headerNavBar-mainLink{
    grid-area: headerNavBar-mainLink;
    border: 2px solid transparent;
    border-radius: 20px;
    background-color: rgb(111, 112, 51);
    text-align: center;
    align-self: center;
    
}
.headerNavBar-mainLink a{ text-decoration: none; color: white !important}
    .headerNavBar-mainLink:hover{
        border: 2px solid red;
    }
.headerNavBar-paymentLink{
    grid-area: headerNavBar-paymentLink;
    border: 2px solid transparent;
    border-radius: 20px;
    background-color: rgb(111, 112, 51);
    text-align: center;
    align-self: center;
}
.headerNavBar-paymentLink a{ text-decoration: none; color: white !important}
    .headerNavBar-paymentLink:hover{
        border: 2px solid red;
    }
.headerNavBar-historyLink{
    grid-area: headerNavBar-historyLink;
    border: 2px solid transparent;
    border-radius: 20px;
    background-color: rgb(111, 112, 51);
    text-align: center;
    margin-right: 10px;
    align-self: center;
}
.headerNavBar-historyLink a{ text-decoration: none; color: white !important}
    .headerNavBar-historyLink:hover{
        border: 2px solid red;
    }

.headerSearchWrapper{
    grid-area: headerSearchWrapper;
    display: grid;
    grid-template-areas: "headerSearch-inputArea headerSearch-Img";
    grid-template-columns: max-content;
    grid-gap: 10px;
    max-width: 100px;
}
.headerSearch-inputArea{
    grid-area: headerSearch-inputArea;
    max-width: 180px;
    align-self: center;
}
.headerSearch-Img{
    grid-area: headerSearch-Img;
    max-width: 40px;
}


.headerAccountWrapper{
    grid-area: headerAccountWrapper;
    display: grid;
    grid-template-areas: "headerAccountWrapper-Img headerAccountWrapper-Name";
    grid-template-columns: 0.1fr;
    align-self: center;
}
.headerAccountWrapper-Img{
    grid-area: headerAccountWrapper-Img;
}
.headerAccountWrapper-Name{
    grid-area: headerAccountWrapper-Name;
}
